### Задача 3

В университет на факультет A поступило 100 человек, на факультет B - 90 человек и на факультет C - 45 человек. Вероятность того, что студент с факультета A сдаст первую сессию, равна 0.6. Для студента с факультета B эта вероятность равна 0.7, а для студента с факультета C - 0.8. Случайным образом выбирается студент, сдавший первую сессию. Какое событие наиболее вероятно:

1. студент учится на факультете A
2. студент учится на факультете B
3. студент учится на факультете C

Можно определить вероятность того, на каком факультете учиться студент. Кроме того, нам известна условная вероятность сдачи сессий, при условии учебы на определенном факультете нам известна. Тогда, мы можем применить формулу Байса и найти обратную условную вероятность.

In [1]:
nA = 100
nB = 90
nC = 45
nSum = nA + nB + nC

p_A = nA/nSum
p_B = nB/nSum
p_C = nC/nSum

p_YA = 0.6
p_YB = 0.7
p_YC = 0.8

In [2]:
p_Y = p_YA * p_A + p_YB * p_B + p_YC * p_C

In [3]:
p_AY = (p_YA * p_A)/p_Y
p_BY = (p_YB * p_B)/p_Y
p_CY = (p_YC * p_C)/p_Y

In [4]:
print(p_AY, p_BY, p_CY)

0.3773584905660377 0.39622641509433965 0.22641509433962265

С наибольшей вероятность, студент сдавший экзамен окажется с факультета B.

### Задача 1

Даны значения зарплат из выборки выпускников:

100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150

Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.), посчитайте (несмещённое) среднее квадратичное отклонение для данной выборки.

In [1]:
import numpy as np

In [3]:
salaryArr = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150])

In [4]:
np.std(salaryArr, ddof=1)

47.347952135531386

In [5]:
import pandas as pd

In [6]:
salaryDF = pd.DataFrame({'salary': salaryArr})

In [9]:
salaryDF['salary'].std(ddof=1)

47.34795213553139

### Задача 2

Найдите число выбросов в выборке из задачи 1. Для определения выбросов используйте методику как при построении "усов" в boxplot, однако, как и в задаче 1, пользоваться можно только встроенными функциями и структурами данных.

In [12]:
q1=np.quantile(salaryArr, 0.25)
q3=np.quantile(salaryArr, 0.75)
iqr = q3 - q1

In [22]:
np.append(salaryArr[salaryArr < (q1 - 1.5*iqr)], salaryArr[salaryArr > (q3 + 1.5*iqr)])

array([230, 150])

In [24]:
q1, q3 = salaryDF['salary'].quantile([0.25, 0.75])
iqr = q3 - q1

bx_rng = (q1 - 1.5 * iqr, q3 + 1.5 * iqr)

In [25]:
salaryDF.loc[(salaryDF['salary'] < bx_rng[0]) | (salaryDF['salary'] > bx_rng[1])]

    salary
11     230
20     150